// .main {
//   max-width: 300px;
//   margin: 0 auto;
// }
.main {
  padding: 0 2rem;
  min-height: 100vh;
  position: relative;
}
.todos-container {
  max-width: 300px;
}

.todos-title {
  font-size: 2.5rem;
  font-weight: bold;
  caret-color: rgb(55, 53, 47);
  margin-bottom: 1rem;
}

.todos-description {
  margin: 1rem 0;
}

.todo-group {
  width: 260px;
}

.todo {
  position: relative;
  word-break: break-all;
  padding: 0.5rem;
  min-height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 3px;
  background: white;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  transition: background 100ms ease-out 0s;
  &:hover {
    background: whitesmoke;
  }
  &:hover .delete-todo {
    display: block;
  }

  &:focus {
    background: blue;
  }
}

.todo .delete-todo {
  z-index: 100;
  top: 5px;
  right: 5px;
  position: absolute;
  width: 20px;
  height: 30px;
  display: none;
  fill: inherit;
  flex-shrink: 0;
  backface-visibility: hidden;
  background: whitesmoke;
  cursor: pointer;
}

[contenteditable="true"]:empty::after {
  content: "Enter your text here";
  color: gray;
}

.todo.is-empty:before {
  content: "Click to enter text";
  color: gray;
}

.editable {
  max-width: 100%;

  word-break: break-word;
  outline: 0;
  user-select: auto;
}

@media screen and (max-width: 640px) {
  .todo:hover .delete-todo {
    display: none;
  }
  .todo .delete-todo {
    display: none;
  }
}
