.todos-header {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
  padding: 10px 0;
  align-items: center;

  &:hover .action-btns {
    opacity: 1;
  }
}

.action-btns {
  width: 60px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 100ms ease;
}

.todo-header-title {
  width: 100%;
}

.todo-header-remove {
  .trash-btn {
    height: 20px;
    cursor: pointer;
  }
}

.plus {
  cursor: pointer;
  width: 14px;
  height: 14px;
  display: block;
  fill: rgba(55, 53, 47, 0.4);
  flex-shrink: 0;
  backface-visibility: hidden;
}

@media screen and (max-width: 760px) {
  .action-btns {
    opacity: 1;
  }
}
